<%= render 'shared/header' %>

<%# アイキャッチ画像 %>
<div class="carousel-inner">
  <div class="carousel-item">
    <%= image_tag "Collage_Fotor.jpg", class:"d-block w-100" %>
    <div class="carousel-caption d-none d-md-block">
      <h3>さあ、世界を広げよう</h3>
      <% if user_signed_in? %>
      <%=link_to '新規投稿', new_post_path, class:"btn btn-lg btn-primary mb-4" %>
      <% else %>
      <%=link_to 'ログイン', new_user_session_path, class:"btn btn-lg btn-primary mb-4" %>
      <% end%>
      <p>  </p>
    </div>
  </div>
</div>